* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #A4B3C5;
    --head-text-color: #ffffff;
    --dark: #000000;
    --gray-500: #00000099;
    --gray-700: rgba(0, 0, 0, 0.8);
    --gray-100: rgba(0, 0, 0, 0.15);
}

/* Section-1-CSS */

.mountain{
    background: url(../image-des/bg\ image.jpg) no-repeat center center/cover;
    width: 100%;
    height: 370px;
}

.text{
    padding: 20px 20px 10px;
}
.text h1{
    color: var(--head-text-color);
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    padding-right: 20px;
    padding-top: 20px;
}
.text p{
    font-family: "Open Sans", serif;
    color: var(--head-text-color);
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 5px;
}

.socials .circle{
    padding: 6px 10px;
    border: 1.5px solid var(--head-text-color);
}
.socials .pin{
    padding: 6px 12px;
}
.socials a{
    font-size: 20px;
}

/* Section-2-CSS */

.Galleries{
    margin: 40px 20px;
}
.Galleries h1{
    color: var(--gray-500);
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}
.Galleries h2{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 0;
}

.Galleries .image-wrapper{
    margin: 10px 0;
    overflow-x: auto;
     scrollbar-width: none;
    -ms-overflow-style: none; 
}
.Galleries a{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}
.Galleries .explore {
    padding-top: 20px;
}
.text-img h3{
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    padding: 10px 20px 5px 30px;
}
.imagecontainer{
    margin-bottom: 30px;
}
.card {
    margin-left: 24px;
    
}

/*  Footer-CSS */

footer{
    background-color: var(--gray-100);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .gate{
    font-family: "Open Sans", serif;
    font-size: 12px;
    line-height: 130%;
    padding-right: 170px;
    color: var(--gray-500);
}
footer h2{
    font-family: "Roboto", sans-serif; 
    font-size: 20px; 
    line-height: 16px; 
    font-weight: 600;
}

footer ul{
    padding: 10px 0 0 0;
    list-style: none;
}
footer a, footer h3{
    text-decoration: none;
    font-family: "Open Sans", serif;
    color: var(--gray-500);
    font-size: 14px;
    line-height: 150%;
    margin: 0 5px;
}
/*-----------button-------*/
.divdiv{
    width: 80%;
    margin: 0 auto;
}
.button-container{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    text-align: center;
}
.button-container li{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
    margin: 5px;
    width: 50%;
    height: 20%;
}
.button-container li:hover {
    transform: scale(1.1); /* Increase size on hover */
}
.button-container li a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight:600;
    font-size: 24px;
}

/*-----------button-------*/


@media(min-width: 768px){
    .mountain {
        height: 450px;
    }
    .Galleries h2{
        font-size: 30px;
        line-height: 130%;
    }
    /* Footer-css */

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    footer h2 {
        padding-top: 18px;

    }
    footer .gate{
        padding-right: 10px;
        font-size: 14px;
    }
    footer a {
        font-size: 14px;
    }
    /* Section-CSS */

    .text-media{
        margin-top: 70px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .text h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        padding: 35px 0 30px 0;
    }
    .socials{
        padding:40px 40px 0 0;
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 0%;
        align-self: center;
    }
    .socials .circle{
        align-self: self-end;
        width: 50px;
    }
    .text p {
        font-size: 14px;
    }
    .Galleries {
        margin: 80px 20px 40px;
    }
}
@media(min-width:850px){
    .button-container{
        display: flex;
        flex-direction: row;
    }
}

@media(min-width: 1024px) {

    /* Section-CSS */

    .mountain {
        height: 500px;
    }
    .text-media {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
    }
    .text h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 130%;
        padding: 90px 0 50px 0;
    }

    .socials .circle {
        width: 50px;
    }
    .Galleries h2, .image-wrapper{
        padding-left: 80px;
        font-size: 32px;
        line-height: 150%;
    }
}